
     <!-- Score Cards -->
       <div class="row"  >
          <div class="col-12" >

 

 

        
           <div class="card text-center border-success mb-3"  style="background-color: #F4FAAF" > 
             
                  <div class="card-body  ">
                       <h1 class="card-title text-dark" style="font-family: serif;"><b>All Match Details</b></h1><br>
                      
                      <h5 class="card-text text-danger" >Total Match Played : <h6 class="card-text text-success">{{(mainCtrl.matchDetails | filter:filterInput).length}}</h6></h5>
               <br>
      <div class="card-title text-primary">

          <b>Search :</b>
           <input type="text" name="filter" ng-model="filterInput" placeholder="Teamname/Code/Date/Year here..">
         
            
        </div>

         
       <p> <b class="card-title text-primary">Currently Sort By:</b><span class="card-title text-success"><b>{{mainCtrl.sortBy}}</b></span></p>

      




                      
                  </div>
           </div>



          <table class="table table-hover">

<table class="table table-hover">

  <thead>
    <tr class="table-primary">
      <th scope="col">
        <a href ng-click="sortType = 'team1.code'; sortReverse = !sortReverse; mainCtrl.sortBy='Team 1';  ">
            Team 1
            <span  ng-show =" mainCtrl.sortBy=== 'None : Click Table Heading to sort the data'" class="fa fa-sort" > </span>
            <span ng-show="sortType == 'team1.code' && ! sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'team1.code' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
      <th scope="col">
        <a href ng-click="sortType = 'team2.code'; sortReverse = !sortReverse; mainCtrl.sortBy='Team 2'">
            Team 2 
            <span  ng-show =" mainCtrl.sortBy=== 'None : Click Table Heading to sort the data'" class="fa fa-sort" > </span>
            <span ng-show="sortType == 'team2.code' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'team2.code' && sortReverse" class="fa fa-caret-up"></span>
          </a>


      </th>
      <th scope="col">
        <a href ng-click="sortType = 'score1'; sortReverse = !sortReverse; mainCtrl.sortBy='Score'">
            Score 
             <span  ng-show =" mainCtrl.sortBy=== 'None : Click Table Heading to sort the data'" class="fa fa-sort" > </span>
            <span ng-show="sortType == 'score1' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'score1' && sortReverse" class="fa fa-caret-up"></span>
          </a>


      </th>
      <th scope="col">
        <a href ng-click="sortType = 'date'; sortReverse = !sortReverse; mainCtrl.sortBy='Date'">
            Date 
            <span  ng-show =" mainCtrl.sortBy=== 'None : Click Table Heading to sort the data'" class="fa fa-sort" > </span>
            <span ng-show=" sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show=" sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
          </a>

      </th>
      


    </tr>
  </thead>
  <tbody  dir-paginate = "match in mainCtrl.matchDetails | filter: filterInput | orderBy:sortType:sortReverse | itemsPerPage: 10">

        <tr class="table-secondary" ng-click="mainCtrl.goToMatchDetails(match)">
            
            <td>{{match.team1.code}}</td>
            <td>{{match.team2.code}}</td>
            <td>{{match.score1}}-{{match.score2}}</td>
            <td>{{match.date | date}}</td>
        </tr>
     
  </tbody>
</table>
 
 

 </div>

<div class="pagination" >
   <dir-pagination-controls
       max-size="5"
       direction-links="true"
       boundary-links="true"
       template-url= "views/dirPagination.tpl.html"
        >

     </dir-pagination-controls>
     


        </div> <!--end of col -->
    
      </div>   <!--end of row -->


