       <div class="row">
   <div class=" col-md-12 text-center">
      <h3 class="colHid1 colHid2"> {{matchCtrl.roundName}}</h3>
      <h3>{{matchCtrl.singleMatchData.date | date}}</h3>
   </div>
   <div class="col-xs-4 col-md-4">
      <img ng-src = "logo/{{matchCtrl.singleMatchData.team1.code}}.png" class="img-responsive" >
      <h4 class="text-center">{{matchCtrl.singleMatchData.team1.name}}</h4>
      <h5 class="text-center"> Goals : {{matchCtrl.singleMatchData.score1}}</h5>
   </div>
   <div class="col-xs-4 col-md-4 text-center">
      <br/><br/><br/>
      <span class="colHid1 colHid2"><img src="logo/vs.png" style="height:50px;width:50px "></span>
   </div>
   <div class="col-xs-4 col-md-4">
      <img ng-src = "logo/{{matchCtrl.singleMatchData.team2.code}}.png" class="img-responsive" >
      <h4 class="text-center">{{matchCtrl.singleMatchData.team2.name}}</h4>
      <h5 class="text-center">Goals : {{matchCtrl.singleMatchData.score2}}</h5>
   </div>
</div>
<div class="row">
   <a href="#!/" class="btn btn-secondary">Go Back</a><br>
  
</div>