       <div class="row">
   <div class=" col-md-12 text-center">
      <h2 class="colHid1 colHid2 " > {{matchCtrl.roundName}}</h2>
      <h4 class="text-info">{{matchCtrl.singleMatchData.date | date}}</h4>
   </div>
   <div class="col-xs-4 col-md-4">

   	<p style="text-align: center;">
   		<img ng-src = "logo/{{matchCtrl.singleMatchData.team1.code}}.png" class="img-responsive" >
   	</p>
      
      <h4 class="text-center">{{matchCtrl.singleMatchData.team1.name}}</h4>
      <h5 class="text-center text-danger"> Goals : {{matchCtrl.singleMatchData.score1}}</h5>
   </div>
   <div class="col-xs-4 col-md-4 text-center">
      <br><br>
      <span class="colHid1 colHid2"><img src="logo/vs.png" style="height:50px;width:50px "></span>
   </div>
   <div class="col-xs-4 col-md-4">
   	<p style="text-align: center;">
   		<img ng-src = "logo/{{matchCtrl.singleMatchData.team2.code}}.png" class="img-responsive" >
   	</p>
      
      <h4 class="text-center">{{matchCtrl.singleMatchData.team2.name}}</h4>
      <h5 class="text-center text-danger">Goals : {{matchCtrl.singleMatchData.score2}}</h5>
   </div>
</div>
<div class="row">
	<div class=" offset-4 col-6 offset-2">
		<a href="#!/" class="btn btn-secondary" >Back</a><br>
	</div>
		
	 
</div>

